.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 500px !important;
    height: 100vh;
    background: white;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1050;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.modal-content h3 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.form-modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
.modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}


button {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}

.modal-buttons>button {
    padding: 8px;
}