.custom-dropdown {
  display: flex;
  align-items: center;
  gap: 8px; /* Adjust spacing between dropdown and icon */
}

/* Remove default button styling for the dropdown toggle */
.profile-dropdown-toggle {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 1.2rem; /* Adjust size as needed */
  line-height: 1;
  color: inherit;
  cursor: pointer;
}
.cursoredit{
  cursor: pointer;
}
/* Optional: style the dropdown menu */
.custom-dropdown .dropdown-menu {
  min-width: 8rem; /* Set a minimum width if needed */
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

/* Optional: adjust dropdown item styling */
.custom-dropdown .dropdown-item {
  padding: 0.5rem 1rem;
}

.table-container input[type="checkbox"] {
  cursor: pointer;
}